
node_modules/

/app/dist/

/client/dist/
/client/src/css/dist.css

/collection/

/collector/bmc/
/collector/dist/

/site/dist/
/site/src/access/client/api/
/site/src/public/client.min.*
/site/src/.comp/client.min.esm.js
/site/publish.config.json
