
node_modules/

/app/dist/
/app/.deployments/

/client/dist/

/collection/

/collector/bmc/
/collector/dist/

/site/dist/
/site/src/access/client/api/
/site/src/public/client.*
/site/src/.comp/client.min.esm.js
/site/.deployments/
/site/.vitepress/cache/
