
html
    // Place on html so iOS overscroll etc won't show white bg
    background-image: url(@/assets/background.svg)
    height: 100%  // Else bg image doesn't show
    overflow: hidden

    // TODO missing from Vuetify for some reason (rm when fixed)
    --v-theme-overlay-multiplier: 1

body
    height: 100%

#app
    height: 100%
    display: flex
    flex-direction: column  // Prevents margin (on wide screens) from pushing beyond viewport
